h1 {
    text-align:center;
}
form{
    text-align: center;
}

li {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 10px;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}